<header>
    <h1>pieces.</h1>
</header>

<style>
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'Montserrat';
    }

    header {
        display: flex;
        text-align: center;
    }

    h1 {
        letter-spacing: 20px;
        display: flex;
        font-size: 56px;
        margin: auto;
        padding: 20px 10px;
    }
</style>